/*要查*/

:root {
    --darkBg:#222;
    --darkerBg:#1f1f1f;
    --bgAccent:#F26C4F;
    --bgAccentDark :#E84A2C;
}


*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.wrapper{
    background:var(--darkBg);
    color:#fff;
}




.container{
    width: 75%;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    position: relative;
   

}

nav h3{
    font-size: 1.4rem;
}
nav h3 span{
    background: var(--bgAccent);
    color: #fff;
    padding:.5rem 1rem ;
    border-radius: 8px;
}

#menuBt{
    display: none;
}

nav ul {
    display:flex;
}



nav li{
    margin: 0 1rem;
}

nav a{
    color:#fff;
    font-size: 1.2rem;
}


nav  .menu{
    background:var(--bgAccent);
    color:#fff;
    padding: .5rem .8rem;
    border-radius: 8px;
    
}

#menuToggle,.menuToggler , .close-menu{
    display: none;
}

#menuToggle:checked + .nav-menu-container{
    right: 0;
}

.nav-menu-container {
    transition: 1s;
}

.content{
    height: 85vh;
    background-image: url(/img/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.flexbox{
    display: flex;
    height: 100%;
}

/*這邊要查*/
.span-6{
    flex-basis:50%;
}

.hero-desc{
    display: flex;
    width: 100%;
}
.hero-desc h1{
font-size: 3.5rem;
margin-bottom: 1rem;
}

.hero-desc h3{
    margin-bottom: .5rem;
}

.hero-desc p{
    line-height: 1.7rem;
    font-size: 1.1rem;
}

.inner-desc{
margin: auto;
padding: 0 1rem;

}
.span-6 img{
    height: auto;
    width: 100%;
}

.about{
    background: var(--darkerBg);
    color:#fff;
    padding: 2.5rem 0 ;
}

.about-left{
    padding-right: 1rem;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}

.about h5 {
    color:var(--bgAccentDark);
    margin-bottom: 1.3rem;
    font-size: 1.2rem ;
}

.about-left h2 {
    font-size: 1.7rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;

}

.about-left p{
    line-height: 1.7rem;
    font-size: 1.13rem;
}

.experience{
    display: flex;
    align-items: center;
}

.experience span:first-child{
    font-size: 5rem;
    color: var(--bgAccentDark) ;
    padding-right:  1rem;
}

.experience span:last-child{
    font-size: 1.14rem;
    line-height: 1.8rem;
}


.about-right{
    padding-left: 14rem;
}

.about-right h1{
    font-size: 3rem;
    margin-bottom: .5rem;
}

.about-right h2 {
    color:var(--bgAccentDark);
    margin-top: 2rem;
}

.services{
    padding: 3rem 0 ;
    background: var(--darkBg);
    color: #fff;
}

.small-header{
    color: var(--bgAccentDark);
    margin-bottom: 1.3rem;
    font-size: 1.2rem;
}

.main-header{
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
}

.text-center{
    text-align: center;
}

/*這邊的寫法要查清楚*/

.services-main{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 2rem;
}

.single-service{
    
    
    text-align: center;
    position: relative;
}

.single-service span {
    font-size: 3rem;
    color: var(--bgAccentDark);
}

.single-service h3 {
    font-size: 1.7rem;
    margin: 1rem 0;
}

.single-service p {
    line-height: 1.5rem;
    margin-bottom: 1.2rem;
}


.single-service.active .sercices-inner{
    background: var(--darkerBg);
}

.single-service.active .bg,
.single-service:hover .bg{
    position: absolute;
    height: 90%;
    width: 90%;
    right: -3%;
    bottom: -3%;
    background: linear-gradient(50deg, #8A2BE2, #E84A2C);
    z-index: 1;
}

.single-service .sercices-inner {
    padding: 3rem 1.5rem;
    position: relative;
    z-index: 2;
}

.single-service:hover .sercices-inner{
    background: var(--darkerBg);
}

.single-service a{
    color: var(--bgAccentDark);
    font-size: 1.1rem;
}

/*選單選取後的效果*/
/*先將bg定位在single-service後，接著給大小與偏移，然後將sercices-inner用padding去撐開盒子*/
/*接著給相對定位讓他找到sercices-inner，這邊要在了解一下定位，為什麼要設定兩個相對定位
/*定位後要給予圖層，接著設定 .single-service:hover .bg 讓滑鼠移過去有效果，但要記得.sercices-inner裡面要加入背景
*/

.portfolio{
    padding: 3rem 1rem;
    background: var(--darkerBg);
    color: #fff;
}

/* 這邊又用到不熟的grid 專案重複使用，代表很重要，要查!  */

.gallery-box{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,250px);
    grid-gap: .8rem;
}

.gallery-item{
    background-size: cover;
    background-repeat:no-repeat ;
}

.gallery-item div,.gallery-item a{
    height:100%;
    width: 100%;
}

.gallery-item a{
    display: block;
    background: rgba(0,0,0,0.5);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.testimonials{
    padding: 5rem 0;
    background: var(--darkBg);
    color: #fff;
}

.slider-container{
    width: 60%;
    margin: auto;
    

}

.single-slider{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    grid-gap: 5;
    
}

.slider-info{
    padding: 10rem 2rem;
    background-image: url(/img/slider-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;

}

.slider-info h2{
    font-size: 2rem;
    color: var(--bgAccentDark);
}

.slider-info h3{
    font-size: 1.8rem;
    margin-top: 1rem;
    line-height: 3rem;
    text-align:justify;
    margin-bottom: 1rem;
}

.slider-info h4{
    font-size: 1.4rem;
    color: var(--bgAccentDark);
    margin-bottom: 0.5rem;
}

.slider-img{
    background-size: cover;
    background-repeat: no-repeat;
}

.brands{
    padding: 3rem;
}

.inner-brands{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:1rem;
    margin-top: 5rem;  
}

.inner-brands img {
    width: 60%;
    margin: auto;
}


.news-feed{
    padding: 5rem 0rem;
    background: var(--darkerBg);
    color: #fff;
}

.news-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:2rem;
}

.single-news{

    box-shadow: 0px 0px 3px #f1f1f1;;
}
.single-news .news-bg{
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;

}



.news-info{
    padding: 1rem;
}

/*查一下 weight還有哪些用法*/
.news-title{
     font-weight: bold;
     margin-bottom: .3rem;
}

.date {
    font-weight: bold;
    color: var(--bgAccentDark);

}

/*下面開始製作響應式*/

@media only screen and (max-width:990px){
    
    .header {
        height: auto;

    }
    .hero-img{
        display: none;
    }

   
    .flexbox {
        width: 80%;
        margin: auto;
    }

    .hero-desc{
        width: 100%;
        max-width: 100%;
        display: block;
        margin-top: 4rem;
        text-align: center;
        margin: auto;
    }
    /* 這邊驚嘆號不懂*/
    .content{
        height: auto !important;
        padding-bottom: 3rem;
    }
    
    /*這邊回去了.flex裡面增加flex wrap 要查為什麼*/
    .about-left,
    .about-right{
        min-width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 3rem;
    }

    .services-main{
        grid-template-columns: repeat(1,1fr);
    }

    .gallery-box{
        
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,250px);
       
    }

    .slider-info{
        padding: 2rem 1rem;
 
        height: 400px;
    
    }


    
    .slider-info h2{
        font-size: 3rem;
       
    }
    
    .slider-info h3{
        font-size: 1.2rem;
  
    }
    
    .slider-info h4{
        font-size: 1rem;
        
    }
    
    .slider-img{
        display: none;
    }

    .single-slider{
        
        grid-template-columns: repeat(1,1fr);
    }

    .slider{
        width: 100%;
       
    }

    .news-content{
        
        grid-template-columns: repeat(2,1fr);
        grid-gap:2rem;
    }

    .inner-desc h1{
      font-size: 2rem;
      margin-bottom: 2rem;
        }

    .inner-desc p{
        font-size: 1rem;
    }

    .hero-desc{
        max-width: 100%;
    }
    .flexbox{
        height: 80vh;
    }

    .nav-menu-container{
        position: fixed;
        height: 100%;
        width: 100%;
        background: var(--darkerBg);
        color: #fff;
        top:0;
        right: -100%;
        padding: 1rem;

    }

    .menuToggler{
        display: block;
    }

    

    .close-menu{
        text-align: right;
        margin-bottom: 5rem;
        display: block;
    }

    .nav-menu-container ul{
     display:block ;
     width: 100%;
    }

    .nav-menu-container li{
        text-align: center;
        margin-bottom: 1.4rem;
       }

       .nav-menu-container a{
        font-size: 1.5rem;
       }

    

}


@media only screen and (max-width:768px){

    .nav-menu-container{
        position: fixed;
        height: 100%;
        width: 100%;
        background: var(--darkerBg);
        color: #fff;
        top:0;
        right: -100%;
        padding: 1rem;

    }

    .menuToggler{
        display: block;
    }

    

    .close-menu{
        text-align: right;
        margin-bottom: 5rem;
        display: block;
    }

    .nav-menu-container ul{
     display:block ;
     width: 100%;
    }

    .nav-menu-container li{
        text-align: center;
        margin-bottom: 1.4rem;
       }

       .nav-menu-container a{
        font-size: 1.5rem;
       }


  
    .header .container nav{
        min-width: 100%;
       
    }
    .services-main{
        grid-template-columns: repeat(1,1fr);
    }

    .gallery-box{
        
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,250px);
       
    }

    .news-content{
        
        grid-template-columns: repeat(1,1fr);
      
    }

    .flexbox {
        width: 80%;
        margin: auto;
    }
    .inner-desc h1{
        font-size: 2rem;
        margin-bottom: 2rem;
        
          }
  
      .inner-desc p{
          font-size: 1rem;
          width: 100%;
      }

      .inner-desc {
          max-width: 100%;
          text-align: initial;
          padding: 0 0;
      }

      .flexbox{
         width: 100%;
        height: 80vh;
    }

 


        
}